
/*This is a comment in CSS*/

body{
    font-family: Georgia, serif;
}

h1{
    font-family: monospace;
    font-size: 50px;
    color: darkgreen;
}

p{
    font-size: 30px;
}

a{
    color: hotpink;
}
a:hover {
    color: rgb(17, 133, 13);
}

